*{
    box-sizing: border-box;
    margin: 0;

}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

.header-area{
    background-color: #1877f2;
}
.header-area .container{
    padding: 10px 20px;
}
.header-area .container .w-20{
    float: left;
    overflow: hidden;
}
.header-area .container .w-20 h2{
    color:#ffffff;
    font-size:3em;
}
.header-area .container .w-80{
    float: right;
    padding-bottom:10px;
}
.header-area::after{
    content:"";
    clear: both;
    display: table;
}
.header-area .container .w-80 .login-area .username-area{
    display:inline-block;
    
}
.header-area .container .w-80 .login-area .username-area label{
    display: block;
    color:#ffffff;
    margin-bottom: 7px;
    font-size: 16px;
}
.header-area .container .w-80 .login-area a{
    text-decoration: none;
    color:#ffffff;
    font-size:14px;
}
.main-containt{
    padding:50px;
    overflow:hidden;
    background-image:radial-gradient(#fcfbff,#ededf7) ;
}
.main-containt .w-50{
    width:50%;
    float: left;
    padding:50px;
}
.main-containt .w-50 img{
    height: 400px;
    margin-top:30px;
}
.main-containt .w-50 .text-area{
    margin:0 0 20px 0;

}
.main-containt .w-50 .text-area h2{
    font-size:2.5em;
    font-weight:bold;
}
.create-form .form-group input{
    width:47.9%;
    float:left;
    padding: 10px;
    margin-bottom:20px;
    overflow:hidden;
    border-radius: 8px;
    border: 1px solid #b3aca5;
}
.create-form .form-group input:focus{
    border: 1px solid #46c4e4;
}
.create-form .form-group input[name="first-name"]{
    margin-right:20px;
}
.email-form input{
 display:block;
 width:100%;
 padding: 10px;
 margin-bottom: 20px;
 border-radius: 8px;
 border: 1px solid #b3aca5;
}
.birthday{
    margin-bottom:20px;
}
.birthday label{
    display:block;
    margin-bottom: 10px;
    font-size: 18px;
    
}
.birthday select{
    border-radius: 2px;
    border: 1px solid #b3aca5;
}
.create-form input[type="submit"]{
    width:100%;
    margin: 20px 0;
    padding:15px;
    border-radius: 8px;
    border: none;
    background: #42b72a;
    font-size: 25px;
    color:#ffffff;
    
}